<div class="items-center flex flex-col">
  <img class="h-auto max-w-xs" src={@ticket_attachment} />
  <figcaption class="mt-2 text-sm text-center text-red-500 dark:text-gray-400">
    <%= @ticket_attachment |> Path.basename() %>
  </figcaption>
</div>
