<.flash_group flash={@flash} />
<div class="h-screen flex items-center justify-center">
  <p class="text-[2rem] font-semibold leading-10 tracking-tighter text-zinc-900 text-balance">
    Welcome to the Landing page of Snow Portal
  </p>
</div>
