<tr id={@id}>
  <td class="border px-4 py-2">
    <%= @user.first_name %>
  </td>
  <td class="border px-4 py-2">
    <%= @user.last_name %>
  </td>
  <td class="border px-4 py-2">
    <%= @user.email %>
  </td>
</tr>
